<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href=""> -->
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <!-- Latest compiled and minified CSS -->
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/aeb6f6bd41.js" crossorigin="anonymous"></script>
        <!-- Style sheet-->
        <link rel="stylesheet" href="/stylesheets/main.css">
        <!-- Star rating -->
        <link rel="stylesheet" href="/stylesheets/5star.css">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <div class="navbar-header">
                    <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button> -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
        
                    <a class="navbar-brand" href="/"><i class="fas fa-campground"></i> YelpCamp</a>
                </div>
                <div id="navbarNav" class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <a class="nav-link <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>" href="/campgrounds"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
                    </ul>
                </div>
                <form class="form-inline">
                    <div class="input-group">
                        <ul class="navbar-nav ml-auto">
                            <% if (vCurrentUser && notifications) { %>
                                <li class="nav-item dropdown <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Notifications <span class="badge"><%= notifications.length %></span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="/notifications">View past notifications</a>
                                            <% notifications.forEach(function(notification) { %>  
                                                <a class="dropdown-item" href="/notifications/<%= notification.id %>">
                                                    <%= notification.username %> created a new campground
                                                </a>
                                            <% }); %>
                                    </div>
                                </li>
                            <% } %>
                            <% if (vCurrentUser || vCurrentUser && vCurrentUser.vIsAdmin) { %>
                                <li class="nav-item">
                                    <a class="nav-link <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>" href="/users/<%= vCurrentUser._id %>/edit">Edit profile <i class="fas fa-users"></i></a>
                                </li>
                            <% } %>
                            <% if(!vCurrentUser){ %>
                                <li class="nav-item">
                                    <a class="nav-link <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>" href="/login">Login <i class="fa fa-user"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>" href="/register">Sign Up <i class="fa fa-user-plus"></i></a>
                                </li>
                            <% } else { %>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Signed In As <%= vCurrentUser.username %></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </form>
            </div>
        </nav>


        <div class="container mt-2 mb-2">
            <% if (error && error.length > 0) { %> 
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if (success && success.length > 0) { %> 
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>

        <!-- Open a container class which will be used throughout the pages, closing in footer.ejs -->
        <div class="container">
