<% include ../partials/header %>

<!-- <% console.log("Edit") %>
<% console.log(user) %> -->


    <div style="width: 70%; margin: 25px auto;">
        <div class="register">
            <h1 style="text-align: center">Edit <%= user.username %></h1>
        </div>
        <form action="/users/<%= user._id %>?_method=PUT" method="POST">
            <br>
            <div class="form-group  row register">
                <label class="col-sm-3 sm-offset-1 col-form-label" for="usernaam">Username</label>
                <div class="col-sm-6">
                    <input id="usernaam" type="text" value="<%= user.username %>" name="updUser[username]">
                </div>
            </div>
            <div class="form-group  row register">
                <label class="col-sm-3 sm-offset-1 col-form-label" for="firstname">Firstname</label>
                <div class="col-sm-6">
                    <input id="firstname"type="text" value="<%= user.vFirstname %>" name="updUser[vFirstname]">
                </div>
            </div>
            <div class="form-group  row register">
                <label class="col-sm-3 sm-offset-1 col-form-label" for="lastname">Lastname</label>
                <div class="col-sm-6">
                    <input id="lastname"type="text" value="<%= user.vLastname %>" name="updUser[vLastname]">
                </div>
            </div>
            <div class="form-group  row register">
                <label class="col-sm-3 sm-offset-1 col-form-label" for="geboortedatum">Geboortedatum</label>
                <div class="col-sm-6">
                    <input id="geboortedatum"type="date" value="<%= inpDate %>" name="updUser[vDateBirth]">
                </div>
            </div>
            <div class="form-group  row register">
                <label class="col-sm-3 sm-offset-1 col-form-label" for="facebook">Facebook url</label>
                <div class="col-sm-6">
                    <input id="facebook"type="text" value="<%= user.vFacebook %>" name="updUser[vFacebook]">
                </div>
            </div>
            <div class="form-group  row register">
                <label class="col-sm-3 sm-offset-1 col-form-label" for="twitter">Twitter url</label>
                <div class="col-sm-6">
                    <input id="twitter"type="text" value="<%= user.vTwitter %>" name="updUser[vTwitter]">
                </div>
            </div>
            <div class="form-group  row register">
                <label class="col-sm-3 sm-offset-1 col-form-label" for="avatar">Avatar url</label>
                <div class="col-sm-6">
                    <input id="avatar"type="text" value="<%= user.vAvatar %>" name="updUser[vAvatar]">
                </div>
            </div>
            <div class="form-group  row register">
                <label class="col-sm-3 sm-offset-1 col-form-label" for="email">Email address</label>
                <div class="col-sm-6">
                    <input id="email" type="text" value="<%= user.vEmail %>" name="updUser[vEmail]">
                </div>
            </div>
            <div class="form-group row ">
                <% if (vCurrentUser && vCurrentUser.vIsAdmin) { %>
                    <label class="col-sm-3 sm-offset-1 col-form-label" for="isAdmin">Is This an Admin?</label>
                    <div class="col-sm-6">                        
                        <% if (user.vIsAdmin) { %>
                            <input id="isAdmin" type="checkbox" value="<%= user.vIsAdmin %>" name="updUser[vIsAdmin]" value="Yes" checked="checked">
                        <% } else { %>
                            <input id="isAdmin" type="checkbox" value="<%= user.vIsAdmin %>" name="updUser[vIsAdmin]" value="No">
                        <% } %>
                    </div>
                <% } %>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 sm-offset-1 col-form-label">
                    <button class="btn btn-primary btn-block">Submit!</button>
                    <a href="/campgrounds">Go Back</a>
                </div>
            </div>
        </form>
    </div>

<% include ../partials/footer %>
