<% include ../partials/header %>

<link rel="stylesheet" href="/stylesheets/profile2.css">

<aside>
    <header>
      <!-- here’s the avatar -->
      <a href="http://localhost:<%= process.env.PORT %>">
        <img src="<%= user.vAvatar %>">
      </a>

      <!-- the username -->
      <h1> <%= user.username %></h1>

      <!-- and role or location -->
      <form action="/follow/<%= user._id %>" method="get">
        <div class="form-group">
        <button type="Submit" class="btn btn-xs btn-warning" <% if (user.followers.find(o => o._id === user._id) != 0) { %> disabled <% } %>>Follow <%= user.vUserName %></button>
        </div>
      </form>
    </header>
  
    <body>
      <!-- bit of a bio; who are you? -->
      <div class="profile-bio">
            <p>Posted campground</p>
            <ul>
                <% campgrounds.forEach(campground => { %>
                    <li>
                        <a href="/campgrounds/<%= campground.id %>"><%= campground.Name %></a>
                    </li>
                <% }); %>
            </ul>
            <p>Followers</p>
            <ul>
              <% user.followers.forEach(follower => { %>
                  <li>
                    <%= follower.username %>
                  </li>
              <% }); %>
          </ul>
          <br>
      </div>
    
      <!-- some social links to show off -->
      <ul class="profile-social-links">
    
        <!-- twitter -->
        <li>
          <a href="<%= user.vTwitter %>" target="_new">
            <img src="/images/twitter.png">
          </a>
        </li>
    
        <!-- Facebook -->
        <li>
          <a href=<%= user.vFacebook %>" target="_new">
            <img src="/images/Facebook.png">
          </a>
        </li>
      
        <!-- add or remove social profiles as you see fit -->
      </ul>
    </aside>
    <!-- that’s all folks! -->
    </body>
  
<% include ../partials/footer %>